.idea/


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.log

# ignore all files in elasticsearch volume mount except .keep files
!/volume/es01/
/volume/es01/*
!volume/es01/.keep

!/volume/rabbit/
/volume/rabbit/*
!volume/rabbit/,keep
